/* Colors */
:root {
  --orange: #cd8164;
  --black: #232424;
  --white: #e8e6e3;
  --grey: #B3B7BD;
}

/* FONTS *?


/* HARD RESET */
* {
  margin: 0px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}


/* Style */


a {
  text-decoration: var(--black);
  align-items: center;
}

section {
  list-style-type:none;

}

/*img {
  width: 280px;
  height: 200px;
}*/

body {
  background-color: var(--white);
}


/* Header */


header {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  height: 140px;
}

header img {
  width: 10%;
  height: 140px;
  margin-top: 0%;
  margin-left: 60px;
  align-items: flex;
  object-fit: cover;
}


header button {
  margin-left: 500px;
  margin-top: -90px;
  width: 110px;
  height: 30px;
  background-color: unset;
  list-style: none;

}

h1{
  margin-left: 150px;
  margin-top: 300px;
  font-weight: lighter;
}

#busca {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Boxes */



div {
  width: 280px;
  height: 350px;
  border: var(--black);
  border-style: none;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


#box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 80px;
}

#box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 80px;
}

div img {
  width: 280px;
  height: 200px;

}

div #details{
  position: absolute;
  margin-left: 160px;
  margin-top: 310px;
  width: 110px;
  height: 30px;
  border-style: solid;
  border-color: var(--white);
  border-radius: 10%;
  background-color:var(--white);
  color: var(--black);
  list-style: none;
}

div h2 {
  font-size: 1.2rem;
  margin-top: -65px;
  color: var(--white);
}




footer {
  width: 100%;
  padding: 20px 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 1500px;
  background-color: var(--orange);
}

h3 {
  font-size: 0.8rem;
  color: var(--white);
}