/* Colors */
:root {
  --orange: #cd8164;
  --black: #232424;
  --white: #e8e6e3;
  --grey: #A99D8D;
  --blue: #324363;
  --white3: #E4E5E7;
  --darkwhite: #F1F5F7;
  --ligthwhite: #FFFFFF;
  --beige: #CBB492;


}

/* FONTS *?

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku-+Gothic+New:wght@300&display=swap');

/* HARD RESET */
* {
  margin: 0px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}


/* Style */


a {
  text-decoration: var(--black);
  align-items: center;
}

section {
  list-style-type:none;

}

/*img {
  width: 280px;
  height: 200px;
}*/

body {
  background-color: var(--white);
}


/* Header */


header {
  background-color: var(--ligthwhite);
  color: var(--black);
  width: 100%;
  height: 100px;
  position: relative;
  display: inline-block;
}

header img {
  width: 10.5%;
  height: 160px;
  margin-top: 0%;
  margin-left: 60px;
  align-items: flex;
  object-fit: cover;
}

  header button {
    margin-left: 200px;
    margin-top: -115%;
    justify-content: space-around;
    font-size: 0.9rem;
    width: 110px;
    height: 30px;
    color: var(--blue);
    font-weight: bold;
    background-color: unset;

  
  }

 #wpp {
  margin-left: 1050px;
  margin-top: -125px;
  color: var(--blue);
  display: flex;
  flex-direction: row;
  
}

#wpp img {
  width: 20px;
  height: 20px;
 
}

h1{
  margin-left: 150px;
  margin-top: 300px;
  font-weight: lighter;
  color: var(--blue);
}

#busca {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--blue);
}

/* Search */

#divBusca{
  background-color:var(--ligthwhite);
  border:solid 1px;
  border-color: var(--grey);
  border-radius:3px;
  width:400px;
  height: 40px;
  margin-left: 550px;
  margin-top: 100px;
}

#txtBusca{
  float:inline-start;
  background-color:transparent;
  padding-left:5px;
  font-style:normal;
  font-size:1rem;
  border:none;
  height:40px;
  width:400px;
}

#buscabutton{
  width: 25px;
  height: 25px;
  margin-left: 350px;
  margin-top:-35px;
}





/* Boxes */



div {
  width: 280px;
  height: 442px;
  border: var(--black);
  border-style: none;
  background-color: var(--ligthwhite);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

div .hosesinfo{
  margin-right: 600px;
}


#box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 60px;
}

#box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 60px;
}

div img {
  width: 280px;
  height: 200px;

}

div #details{
  position: absolute;
  margin-left: 170px;
  margin-top: 410px;
  width: 90px;
  height: 25px;
  border-style: solid;
  border-color: var(--white);
  border-radius: 10%;
  background-color:var(--white);
  color: var(--blue);
  list-style: none;
}

div h2 {
  font-size: 1.2rem;
  margin-top: -60px;
  margin-left: 10px;
  color: var(--blue);
  font-weight: lighter;
}

.value {
  color: var(--blue);
  font-size: 0.9rem;
  margin-top: -30px;
  margin-left: -80px;
 
}

.description {
  color: var(--blue);
  font-size: 1rem;
  margin-top: -80px;
  margin-left: 10px;
  
}

.icons {
  width: 30px;
  height: 30px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
 
 
}


/*
.bed {
  width: 27,5px;
  height: 22,5px;
  top: 3,75px;
  left: 0%;
  right: 0%;
  top: 110.5%;
  bottom: 12.5%;
 
}

.shower {
  width: 30px;
  height: 30px;
  top: -0px;
  left: 20%;
  right: 0%;
  top: 110.5%;
  bottom: 0%;
}*/



footer {
  width: 100%;
  padding: 20px 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 1500px;
  background-color: var(--blue);
}

h3 {
  font-size: 0.8rem;
  color: var(--white);
}